body {
	font-size: 20px;
}

.header {
    background-color: #572349;
    padding: 10px 0;
    text-align: right;
}

.b-menu__link {
    color: #fec059;
    margin: 10px;
}

.s-greeting__title {
    color: #fff;
    font-size: 40px;
}

.s-greeting {
    background-image: url("https://wallpaperaccess.com/full/307324.jpg");
    background-size: cover;
    padding: 300px 0;
    text-align: center;
}

.s-info {
    background: linear-gradient(to right, #fdbc54, #fd9a57);
    padding: 30px;
}

.l-list {
    box-shadow: 5px 5px 20px #000;
    border: 2px solid #000;
    padding: 10px;
    margin-bottom: 50px;
}

.l-list__item {
    color: #663399;
    margin: 10px;
    display: block;
}

.l-list__item:last-child {
    color: #000;
}

.b-picture__img {
    width: 300px;
    height: 200px;
}

.b-picture {
    text-align: center;
    border: 1px solid #000;
    display: inline-block;
}

.b-picture__title {
    padding: 10px;
}

.footer {
    background-color: #8e3457;
    border-top: 2px solid #fff;
    padding: 10px 0;
    text-align: center;
}

.footer__title {
    color: #fff;
}

@media screen and (max-width: 992px) {
	body {
		font-size: 15px;
	}

	.s-greeting {
		padding: 200px 0;
	}

	.l-list {
		margin-bottom: 30px;
	}

	.b-picture:nth-of-type(n+2) {
		margin-top: 5px;
	}
}

@media screen and (max-width: 740px) {
	body {
		font-size: 18px;
	}

    .b-picture:nth-of-type(n+1) {
        margin-top: 5px;
    }
}
