body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 10px;
}

.b-paragraph__text {
    margin-top: 20px;
}

.b-paragraph__text em {
    font-style: italic;
}

.b-title__text strong {
    font-weight: 700;
}

.b-title__text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
}

.b-title__text,
.b-paragraph__text {
    text-align: center;
    color: #000;
}

.b-title__text {
    padding-bottom: 20px;
}

.b-title {
    position: relative;
}

.b-title__text::after {
    background-color: #fdc57c;
    width: 5%;
    bottom: 0;
}

.b-title__text::before {
    background-color: #fcac45;
    width: 10%;
    bottom: 10px;
}

.b-title__text::before,
.b-title__text::after {
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
}

.s-section {
    padding: 40px 0;
}

.s-section:first-child {
    padding-bottom: 20px;
}

.s-section:last-child {
    background-color: #ffd54f;
}

img {
    width: 100%;
}

.l-jazz {
    margin: 0 -10px 60px;
    font-size: 0;
}

.l-jazz__item {
    display: inline-block;
    padding: 0 10px;
    width: 25%;
}

._wrapper {
    position: relative;
}

.l-background {
    background: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    opacity: 0;
}

.l-background:hover {
    opacity: 1;
}

.l-info__title {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.l-info__text {
    font-size: 13px;
    color: #b2b2b2;
}

.l-info__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #c5893c;
    position: relative;
    margin: 10% auto 0;
}

.l-info__btn::before,
.l-info__btn::after {
    content: '';
    width: 50%;
    height: 2px;
    background-color: #c5893c;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.l-info__btn::after {
    width: 2px;
    height: 50%;
}

.l-info {
    position: relative;
    top: 20%;
    text-align: center;
}

.l-rock {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.l-rock__item {
    width: 50%;
    padding: 0 10px;
    font-size: 0;
}

.l-rock__item ._wrapper {
    max-width: 560px;
}

.l-rock__item:nth-child(even) ._wrapper {
    margin-left: auto;
}

.l-rock__image-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    opacity: 0;
    z-index: 1;
}

.l-rock__image-layer:hover {
    opacity: 0.5;
}

@media screen and (max-width: 992px) {
    .l-jazz__item {
        width: 50%;
    }

    .l-jazz__item:nth-child(n+3) {
        margin-top: 20px;
    }

    .l-info__title {
        font-size: 26px;
    }

    .l-info__text {
        font-size: 20px;
    }

    .l-info__btn {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 740px) {
    .l-jazz__item,
    .l-rock__item {
        width: 100%;
    }

    .l-jazz__item:nth-child(n+2) {
        margin-top: 20px;
    }

    .l-rock__item:nth-child(n+2) {
        margin-top: 20px;
    }

    .l-rock__item ._wrapper {
        max-width: none;
    }

    .l-info__title {
        font-size: 36px;
    }

    .l-info__text {
        font-size: 30px;
    }

    .l-info__btn {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 410px) {
	.l-info__title {
		font-size: 25px;
	}

	.l-info__text {
		font-size: 20px;
	}
}
